@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  font-family: "Space Grotesk";
}

html,
body,
#__next {
  height: 100%;
}

input,
textarea {
  border: transparent;
  color: #f5efff;
}

label {
  color: rgb(241 245 249);
}

.paper {
  border-radius: 8px !important;
}
